<!DOCTYPE html>
<html ng-app="stockbook">
<head>
  <title>Stock Book</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="StockListCtrl">
  <div id="sidebar">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="輸入股票名稱" ng-model="newStockName">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addStock(newStockName)">＋</button>
      </span>
    </div>

    <hr>

    <div>
      <div ng-repeat="stock in stocks">
        <p class="stock-link" ng-click="showContent(stock.name)" ng-class="{'stock-link-active': stock.name == selectedStock}">#&nbsp;&nbsp;{{ stock.name }}</p>
      </div>
    </div>
  </div>

  <div id="container">
    <div id="input">
      <div id="stock-title" ng-model="title">{{ title }}</div>
    </div>

    <div id="content" ng-controller="TabsCtrl">
      <tabset justified="true">
        <tab heading="交易紀錄">交易紀錄</tab>
        <tab heading="統計圖表">統計圖表</tab>
      </tabset>
    </div>
  </div>

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/ui-bootstrap-tpls-0.13.4.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>